@import url(Root.css);

.portfolio-banner {
    width: 80%;
    /* height: 700px; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.portfolio-banner-background {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-banner-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.portfolio-banner-box span {
    
}

.portfolio-banner-title {
    color: var(--main-text-color);
    font-weight: bold;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5em;
}

.portfolio-banner-name {
    font-weight: bold;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 4.5em;
}

.portfolio-banner-job {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
}

.portfolio-banner-job-work {
    color: rgb(28 190 89);
}

.portfolio-banner-job-country {
    color: rgb(128 103 240);
}

.portfolio-banner-description {
    width: 600px;
    color: var(--second-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
}

.portfolio-banner-link-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.portfolio-banner-link-box i {
    color: var(--black-color);
}

.portfolio-banner-link-box-button {
    width: 178px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-text-color);
    border-radius: 9999px;
    background-color: var(--main-text-color);
    color: var(--white-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    font-weight: bold;
}

.portfolio-banner-link-box-button:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.portfolio-banner-link-box-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.portfolio-banner-image img {
    border-radius: 100%;
}