@import url(Root.css);

* {
    padding: 0;
    margin: 0;
}

header {
    float: none;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* background-color: white; */
    z-index: 10;
}
.portfolio-header-box {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.portfolio-header-logo {
    display: flex;
    flex-direction: column;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--main-text-color);
}

.portfolio-header-job {
    font-weight: 500;
    font-size: 0.8em;
    color: var(--black-color);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--black-color);
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
}

header nav a:hover {
    color: var(--main-text-color);
}

header nav .active {
    color: var(--main-text-color);
}

.portfolio-header-download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 50px;
    border: 2px solid var(--main-text-color);
    border-radius: 25px;
    background-color: unset;
    color: var(--black-color);
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
}

.portfolio-header-download:hover {
    background-color: var(--main-text-color);
    color: var(--white-color);
}