@import url(Root.css);

.portfolio-about {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.portfolio-about-title h2 {
    color: var(--primary-title-color);
    font: 600 normal 40px 'Raleway';
}

.portfolio-about-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.portfolio-about-box p {
    width: 60%;
    color: var(--primary-title-color);
    font: 500 normal 18px 'Raleway';
    text-align: center;
}

.portfolio-about-table {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-about-table-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.portfolio-about-table-result {
    color: var(--main-text-color);
    font: 700 normal 30px 'Raleway';
}

.portfolio-about-table-answer {
    color: var(--primary-title-color);
    font: 500 normal 12px 'Raleway';
}