:root {
    /* Basic Color */
    --white-color: #FFF;
    --black-color: #000;

    /* Advanced site color */
    --main-text-color: rgb(247 80 35);
    --second-text-color: rgb(111 107 128);

    /* background */
    --background-simple: rgb(242 245 251);
}